<header>
  <h1>Good Morning</h1>
  <% if session[:user_id] %>
    <%= link_to "Sign Out", 'signout' %> 
  <% else %>
    <%= link_to "Connect with Instagram", '/auth/instagram' %>
  <% end %>
</header>
